<!DOCTYPE html>
<html class="wide wow-animation" lang="en">

<head>
  <!-- Site Title-->
  <title>Blog</title>
  <meta name="format-detection" content="telephone=no">
  <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta charset="utf-8">
  <link rel="icon" href="./IMG/icono.png">
  <!-- Stylesheets -->
  <link rel="stylesheet" href="css/bootstrap.css">
  <link rel="stylesheet" href="css/style.css">
  <link rel="stylesheet" href="css/fonts.css">


  <!--[if lt IE 10]>
    <div style="background: #212121; padding: 10px 0; box-shadow: 3px 3px 5px 0 rgba(0,0,0,.3); clear: both; text-align:center; position: relative; z-index:1;"><a href="http://windows.microsoft.com/en-US/internet-explorer/"><img src="images/ie8-panel/warning_bar_0000_us.jpg" border="0" height="42" width="820" alt="You are using an outdated browser. For a faster, safer browsing experience, upgrade for free today."></a></div>
    <script src="js/html5shiv.min.js"> </script>
		<![endif]-->
</head>

<body>
  <!-- Page preloader-->
  <div class="page-loader">
    <div class="page-loader-body">
      <div class="preloader-wrapper big active">
        <div class="spinner-layer spinner-blue">
          <div class="circle-clipper left">
            <div class="circle"> </div>
          </div>
          <div class="gap-patch">
            <div class="circle"> </div>
          </div>
          <div class="circle-clipper right">
            <div class="circle"></div>
          </div>
        </div>
        <div class="spinner-layer spinner-red">
          <div class="circle-clipper left">
            <div class="circle"></div>
          </div>
          <div class="gap-patch">
            <div class="circle"> </div>
          </div>
          <div class="circle-clipper right">
            <div class="circle"></div>
          </div>
        </div>
        <div class="spinner-layer spinner-yellow">
          <div class="circle-clipper left">
            <div class="circle"></div>
          </div>
          <div class="gap-patch">
            <div class="circle"></div>
          </div>
          <div class="circle-clipper right">
            <div class="circle"> </div>
          </div>
        </div>
        <div class="spinner-layer spinner-green">
          <div class="circle-clipper left">
            <div class="circle"></div>
          </div>
          <div class="gap-patch">
            <div class="circle"></div>
          </div>
          <div class="circle-clipper right">
            <div class="circle"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Page-->
  <!-- Page Header-->
  <header class="section page-header">
    <!-- RD Navbar-->
    <div class="rd-navbar-wrap rd-navbar-corporate">
      <nav class="rd-navbar" data-layout="rd-navbar-fixed" data-sm-layout="rd-navbar-fixed"
        data-md-layout="rd-navbar-fixed" data-md-device-layout="rd-navbar-fixed" data-lg-layout="rd-navbar-fullwidth"
        data-xl-layout="rd-navbar-static" data-lg-device-layout="rd-navbar-fixed"
        data-xl-device-layout="rd-navbar-static" data-md-stick-up-offset="130px" data-lg-stick-up-offset="100px"
        data-stick-up="true" data-sm-stick-up="true" data-md-stick-up="true" data-lg-stick-up="true"
        data-xl-stick-up="true">
        <div class="rd-navbar-collapse-toggle" data-rd-navbar-toggle=".rd-navbar-collapse"><span></span></div>
        <div class="rd-navbar-top-panel rd-navbar-collapse novi-background">
          <div class="rd-navbar-top-panel-inner">
            <ul class="list-inline">
              <li class="box-inline list-inline-item"><span
                  class="icon novi-icon icon-md-smaller icon-secondary mdi mdi-phone-in-talk"></span>
                <ul class="list-comma">
                  <li><a href="tel:#">0987654321</a></li>
                  <li><a href="tel:#">0912345678</a></li>
                </ul>
              </li>
              <li class="box-inline list-inline-item"><span
                  class="icon novi-icon icon-md-smaller icon-secondary mdi mdi-map-marker-circle"></span><a
                  href="#">Ambato y Garcia Moreno</a></li>
              <li class="box-inline list-inline-item"><span
                  class="icon novi-icon icon-md-smaller icon-secondary mdi mdi-email"></span><a
                  href="mailto:#">info@ticketbus.com</a></li>
            </ul>
            <ul class="list-inline">
              <li class="list-inline-item"><a class="icon novi-icon icon-sm-bigger icon-gray-1 mdi mdi-facebook"
                  href="#"></a></li>
              <li class="list-inline-item"><a class="icon novi-icon icon-sm-bigger icon-gray-1 mdi mdi-twitter"
                  href="#"></a></li>
              <li class="list-inline-item"><a class="icon novi-icon icon-sm-bigger icon-gray-1 mdi mdi-instagram"
                  href="#"></a></li>
              <li class="list-inline-item"><a class="icon novi-icon icon-sm-bigger icon-gray-1 mdi mdi-google-plus"
                  href="#"></a></li>
              <li class="list-inline-item"><a class="icon novi-icon icon-sm-bigger icon-gray-1 mdi mdi-linkedin"
                  href="#"></a></li>
            </ul>
          </div>
          <div class="rd-navbar-top-panel-inner"><a class="button button-sm button-secondary button-nina"
              href="https://www.templatemonster.com/website-templates/62466.html" target="_blank">buy template now</a>
          </div>
        </div>
        <div class="rd-navbar-inner">
          <!-- RD Navbar Panel-->
          <div class="rd-navbar-panel">
            <!-- RD Navbar Toggle-->
            <button class="rd-navbar-toggle" data-rd-navbar-toggle=".rd-navbar-nav-wrap"><span></span></button>
            <!-- RD Navbar Brand-->
            <div class="rd-navbar-brand"><a class="brand-name" href="index.html"><img class="logo-default"
                  src="IMG/logo fondo negro.jpg" alt="" width="50" height="50" /><img class="logo-inverse"
                  src="IMG/logo fondo negro.jpg" alt="" width="50" height="50" /></a></div>
          </div>
              <div class="rd-navbar-aside-right">
                <div class="rd-navbar-nav-wrap">
                  <!-- RD Navbar Nav-->
                  <ul class="rd-navbar-nav">
                    <li><a href="/">Inicio</a>
                    </li>
                    <li><a href="about-us">Sobre nosotros</a>
                    </li>
                    <li><a href="contacts">contactos</a>
                    </li>
                    <li class="active"><a href="blog">Blog</a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </nav>
        </div>
        <!-- Breadcrumbs-->
        <section class="breadcrumbs-custom" style="background: url(&quot;./IMG/blog/1.jpg&quot;); background-size: cover;">
          <div class="container">
            <p class="heading-1 breadcrumbs-custom-title">Conoce nuestras actividades y tours</p>
            <ul class="breadcrumbs-custom-path">
            </ul>
          </div>
        </section>

      </header>
      <!-- Base typography-->
      <section class="section section-lg bg-default">
        <!-- section wave-->
        <div class="section-wave">
          <svg x="0px" y="0px" width="1920px" height="45px" viewbox="0 0 1920 45" preserveAspectRatio="none">
            <path d="M1920,0c-82.8,0-108.8,44.4-192,44.4c-78.8,0-116.5-43.7-192-43.7 c-77.1,0-115.9,44.4-192,44.4c-78.2,0-114.6-44.4-192-44.4c-78.4,0-115.3,44.4-192,44.4C883.1,45,841,0.6,768,0.6 C691,0.6,652.8,45,576,45C502.4,45,461.9,0.6,385,0.6C306.5,0.6,267.9,45,191,45C115.1,45,78,0.6,0,0.6V45h1920V0z"></path>
          </svg>
        </div>
        <div class="container">
          <div class="row row-50 row-fix">
            <div class="col-lg-10 col-xl-8">
              <ul class="list-xl">
                <li>
                  <h1>Programa tus viajes con tiempo</h1>
                  <h5>
                    Al momento de viajar, siempre pensamos en el destino al que llegaremos o los lugares que visitaremos pero no tenemos en cuenta que el recorrido de un punto a otro también es una parte importante del viaje. Para aquellas personas que realizan viajes largos con largas esperas o escalas en distintos lugares, Tickets es muy útil. Es un sitio web que nos indica lo que podremos hacer en los diferentes destino del país ya que ofrece información detallada sobre ellos.
                  </h5>
                </li>
                <section class="section section-variant-1 bg-default novi-background bg-cover"> 
                  <div class="container container-wide">
                    <div class="row row-fix justify-content-xl-end row-30 text-center text-xl-left">
                      <div class="col-xl-8">
                        <div class="parallax-text-wrap">
                          <h3>Nuestros mejores tours</h3><span class="parallax-text">Tours</span>
                        </div>
                        <hr class="divider divider-decorate">
                      </div>
                     
                    </div>
                    <div class="row row-50">
                      <div class="col-md-6 col-xl-4">
                        <article class="event-default-wrap">
                          <div class="event-default">
                            <figure class="event-default-image"><img src="./IMG/blog/2.jpg" alt="" width="570" height="370"/>
                            </figure>
                           
                          <div class="event-default-inner">
                            <h5><a class="event-default-title" href="#">Quilotoa</a></h5><span class="heading-5">Desde $30</span>
                          </div>
                        </article>
                      </div>
                      <div class="col-md-6 col-xl-4">
                        <article class="event-default-wrap">
                          <div class="event-default">
                            <figure class="event-default-image"><img src="./IMG/blog/3.jpg" alt="" width="570" height="370"/>
                            </figure>
                           
                          <div class="event-default-inner">
                            <h5><a class="event-default-title" href="#">Cotopaxi</a></h5><span class="heading-5">Desde $35</span>
                          </div>
                        </article>
                      </div>
                      <div class="col-md-6 col-xl-4">
                        <article class="event-default-wrap">
                          <div class="event-default">
                            <figure class="event-default-image"><img src="./IMG/blog/4.jpg" alt="" width="570" height="370"/>
                            </figure>
                        
                          <div class="event-default-inner">
                            <h5><a class="event-default-title" href="#">Mindo</a></h5><span class="heading-5">Desde $25</span>
                          </div>
                        </article>
                      </div>
                      <div class="col-md-6 col-xl-4">
                        <article class="event-default-wrap">
                          <div class="event-default">
                            <figure class="event-default-image"><img src="./IMG/blog/5.jpg" alt="" width="570" height="370"/>
                            </figure>
                          <div class="event-default-inner">
                            <h5><a class="event-default-title" href="#">El Altar</a></h5><span class="heading-5">Desde  $150</span>
                          </div>
                        </article>
                      </div>
                      <div class="col-md-6 col-xl-4">
                        <article class="event-default-wrap">
                          <div class="event-default">
                            <figure class="event-default-image"><img src="./IMG/blog/6.jpg" alt="" width="570" height="370"/>
                            </figure>
                         
                          <div class="event-default-inner">
                            <h5><a class="event-default-title" href="#">Portete</a></h5><span class="heading-5">Desde $200</span>
                          </div>
                        </article>
                      </div>
                      <div class="col-md-6 col-xl-4">
                        <article class="event-default-wrap">
                          <div class="event-default">
                            <figure class="event-default-image"><img src="./IMG/blog/7.jpg" alt="" width="570" height="370"/>
                            </figure>
                          <div class="event-default-inner">
                            <h5><a class="event-default-title" href="#">Mompiche</a></h5><span class="heading-5">Desde $300</span>
                          </div>
                        </article>
                      </div>
                    </div>
                  </div>
                </section>
      </section>

      <!-- Blockquote-->
      <section class="section section-lg bg-default">
        <div class="container">
          <div class="row row-50 row-fix">
            <div class="col-lg-10 col-xl-8">
              <h3>La mejor experiencia</h3>
              <article class="quote-primary">
                <svg class="quote-primary-mark" version="1.1" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="35px" height="25px" viewbox="0 0 35 25">
                  <path d="M27.461,10.206h7.5v15h-15v-15L25,0.127h7.5L27.461,10.206z M7.539,10.206h7.5v15h-15v-15L4.961,0.127h7.5                L7.539,10.206z"></path>
                </svg>
                <div class="quote-primary-text">
                  <div align = "justify">
                  <p>
                    ¿Quién no disfruta de un buen viaje a una ciudad en la que nunca había estado? Viajar es una gran motivación, además de una fuente de alegría, reflexión y autodescubrimiento. Viajar nos permite explorar nuevos climas y culturas, sumergirnos en ellos y estimular nuestra mente.
                    Obviamente, hay otras personas que prefieren la monotonía y estar cómodos en su hogar. Pero lo cierto es que la fiebre por los viajes ha ido en aumento en las últimas décadas. La televisión, el cine e internet nos han abierto una ventana a otras partes del mundo, lugares únicos que llaman nuestra atención. También ha influido en este auge por viajar el hecho de que los precios hayan ido bajando, permitiendo a más gente moverse alrededor del globo.
                     </p>
                  </div>
                </div>
              </article>
            </div>
          </div>
        </div>
      </section>
      <!-- Ordered List-->
      <section class="section section-lg bg-default">
        <div class="container">
          <div class="row row-50 row-fix">
            <div class="col-lg-10 col-xl-8">
              <h3>Beneficios de viajar</h3>
              <ol class="list-ordered">
                <li>Viajar te permite acercarte más a tu pareja y familia.</li>
                <li>Viajar mejora tu salud</li>
                <li>Viajar “abre tu mente” </li>
                <li>Viajar te hará una personas más feliz</li>
                <li>Viajar aumenta tus habilidades de comunicación.</li>
                <li>Viajar te hará una personas más feliz</li>
              </ol>
            </div>
          </div>
        </div>
      </section>

      <!-- Icon List-->
      <section class="section section-lg bg-default">
        <div class="container">
          <div class="row row-fix">
            <div class="col-sm-12">
              <h3>Pasos</h3>
              <div class="row row-30">
                <div class="col-sm-9 col-md-6 col-lg-4">
                  <article class="box-minimal">
                    <div class="box-minimal-header">
                      <div class="box-minimal-icon fl-bigmug-line-megaphone11"></div>
                      <h6 class="box-minimal-title">Entra a la pagina</h6>
                    </div>
                    <div class="box-minimal-text">Ingresa a nuestro sitio y conoce nuestros viajes y tours</div>
                  </article>
                </div>
                <div class="col-sm-9 col-md-6 col-lg-4">
                  <article class="box-minimal">
                    <div class="box-minimal-header">
                      <div class="box-minimal-icon fl-bigmug-line-note35"></div>
                      <h6 class="box-minimal-title">Llena tus datos</h6>
                    </div>
                    <div class="box-minimal-text">Puedes llenar y reservar desde la comodidad de tu hogar o lugar de trabajo</div>
                  </article>
                </div>
                <div class="col-sm-9 col-md-6 col-lg-4">
                  <article class="box-minimal">
                    <div class="box-minimal-header">
                      <div class="box-minimal-icon fl-bigmug-line-square160"></div>
                      <h6 class="box-minimal-title">Obten tu ticket y disfruta</h6>
                    </div>
                    <div class="box-minimal-text">Una vez obtenido tu ticket solo debes ir a tomar tu unidad y disfrutar tu viaje.</div>
                  </article>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="section section-variant-1 bg-default novi-background bg-cover centarImg">
        <div class="container container-wide">
          <div class="row row-fix justify-content-xl-end row-30 text-center text-xl-left">
            <div class="col-xl-8">
              <div class="parallax-text-wrap">
                <h3>Tus sueños no tienen limites </h3>
              </div>
              <hr class="divider divider-decorate">
            </div>
          </div>
          <div class="row row-50">
            <div class="col-md-6 col-xl-4">
              <article class="event-default-wrap">
                <div class="event-default">
                  <figure class="event-default-image"><img src="../IMG/blog/8.jpg" alt="" width="570" height="370" />
                  </figure>
                </div>
                <div class="event-default-inner centrarTexto">
                  <h5><a class="event-default-title" href="#">Disfruta de tus mejores viajes </a></h5> 
                </div>
              </article>
            </div>
            <div class="col-md-6 col-xl-4">
              <article class="event-default-wrap">
                <div class="event-default">
                  <figure class="event-default-image"><img src="../IMG/blog/9.jpg" alt="" width="570" height="370" />
                  </figure>
                </div>
                <div class="event-default-inner centrarTexto">
                  <h5><a class="event-default-title" href="#">La vida es una sola </a></h5>
                </div>
              </article>
            </div>
            <div class="col-md-6 col-xl-4">
              <article class="event-default-wrap">
                <div class="event-default">
                  <figure class="event-default-image"><img src="../IMG/blog/20.jpg" alt="" width="570" height="370" />
                  </figure>
                </div>
                <div class="event-default-inner centrarTexto">
                  <h5><a class="event-default-title" href="#">Disfruta la mejor experiencia </a></h5>
                </div>
              </article>
            </div>
    
          </div>
        </div>
      </section>

  

      
 <!-- Footer Minimal-->
 <footer class="section page-footer page-footer-minimal novi-background bg-cover text-center bg-gray-darker">
  <div class="container container-wide">
    <div class="row row-fix justify-content-sm-center align-items-md-center row-30">
      <div class="col-md-10 col-lg-7 col-xl-4 text-xl-left"><a href="index.html"><img class="inverse-logo"
            src="IMG/icono.png" alt="" width="50" height="50" /></a></div>
      <div class="col-md-10 col-lg-7 col-xl-4">
        <p class="right">&#169;&nbsp;<span class="copyright-year"></span> Todos los derechos reservados.<a
            href="#">Ticket Bus 2021</a></p>
      </div>
      <div class="col-md-10 col-lg-7 col-xl-4 text-xl-right">
        <ul class="group-xs group-middle">
          <li><a class="icon novi-icon icon-md-middle icon-circle icon-secondary-5-filled mdi mdi-facebook"
              href="#"></a></li>
          <li><a class="icon novi-icon icon-md-middle icon-circle icon-secondary-5-filled mdi mdi-twitter"
              href="#"></a></li>
          <li><a class="icon novi-icon icon-md-middle icon-circle icon-secondary-5-filled mdi mdi-instagram"
              href="#"></a></li>
          <li><a class="icon novi-icon icon-md-middle icon-circle icon-secondary-5-filled mdi mdi-google"
              href="#"></a></li>
          <li><a class="icon novi-icon icon-md-middle icon-circle icon-secondary-5-filled mdi mdi-linkedin"
              href="#"></a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>
</div>
<!-- Global Mailform Output-->
<div class="snackbars" id="form-output-global"> </div>
<!-- Javascript-->
<script src="js/core.min.js"></script>
<script src="js/script.js"></script>
<!-- <script src="js/estrellas.js"></script> -->

</body>

</html>