<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/loginAdmin.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
    <title>Document</title>
</head>
<body>
    <section class="__cajaMainLoginCentrar">
        <div class="loginAdmin">
            <img src="../IMG/icono.png" alt="">
            <p>
                Administracion
            </p>
        </div>
        <div class="tipoLogin">
            <p>
                Si olvidate tu contraseña comunicate con un administrador.
            </p>
        </div>
        <form name="adminForm">
            <div class="__cajaMainLogin">
                <div class="nameLogin">
                    <p>ADMIN</p>
                </div>
                <div>
                    <input type="text" id="email" name="email" placeholder="Email" >
                </div>
                <div>
                    <input type="text" id="password" name="password" placeholder="Password">
                </div>
                <div>
                    <button type="button" class="loginAdminButton">Login</button>
                </div>
            </div>
        </form>
        <section class="__loginAdminFooter">
            <div>
                <a href="#">Admin</a>
            </div>
            <div>
                <a href="#">Cooperativa</a>
            </div>
            <div>
                <a href="#">Condutor</a>
            </div>
            <div>
                <a href="#">Home</a>
            </div>
        </section>
    </section>
    <script src="../js/loginAdmin.js"></script>
</body>
</html>