  body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-image: url("../css/img/fondoHome.jpg") !important;
    background-size: cover;
    margin: 0;
  }

  nav{
    display: flex;
    margin-top: 5px;
    width: 100%;
    background-color: rgb(27, 27, 27);
    justify-content: space-between;
    padding: 12px 25px;
    color: white;
    /* height: 100px; */
    
  }

  nav a{
    color: white;
    text-decoration: none;
  }

  nav a:hover{
    color: rgb(199, 196, 196);
    text-decoration: underline;
  }



  nav > div{
    display: flex;
    justify-content: center;
    align-items:center;
  }

  .nameAdmin h5{
    display: inline-block;
  }
  
  nav img{
    /* display: inline-block; */
    display: none;
    max-width: 40px;
  }
  

  nav h5 {
    margin: 0;
    font-size: 25px;
  }

  nav p{
    margin: 0;
  }

  
  nav :nth-child(1){
    display: flex ;
  }

  nav :nth-child(1) > div{
    margin-right: 15px;
  }


  nav :last-child{
  }


  
  
  
  .__ContenedorMain {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 10px;
    max-width: 80%;
    width: 100%;
    justify-content: center;
    padding: 25px 10px;
    /* background-color: red; */
    /* background: red ; */
    /* padding: 30px; */
  }

  .__ContenedorMain :nth-child(1) {
    /* text-align: center;
    grid-column: span 3;
    box-shadow: none; */
  }

  
  .__ContenedorMain h2{
    font-size: 15px;
  }
  
  .__ContenedorMain > div{
    border-radius: 10px;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.5);
    padding: 15px;
    background-color: white;
  } 
  .__ContenedorMain input{
    width: 100%;
    border: none;
    border-bottom: 1px solid rgb(192, 191, 191);
  }

  .__ContenedorMain button[type = "submit"]{
    border: none;
    background-color: rgb(41, 41, 41);
    border-radius: 12px;
    color: white;
  }
  
  .__ContenedorMain button{
    font-size: 13px;
    margin-top: 15px;
    padding: 2px 10px;
    font-weight: 500;
  }

  .__ContenedorMain button[type = "reset"]{
    border: none;
    background-color: rgb(251, 108, 108);
    border-radius: 12px;
    color: white;
  }


  .__ContenedorMain select{
    width: 100%;
    border: 1px solid rgb(219, 219, 219);
    font-size: 14px;
    padding: 5px 10px;
    border-radius: 10px;
    color: rgb(65, 65, 65);
    margin: 0;
  }

    

  .__ContenedorMain label{
      display: inline-block;
      font-size: 13px;
      color: rgb(112, 112, 112);
  }

  .__ContenedorMain h1 {
    color:rgb(12, 12, 12);
  }


