:root {
    --negro :rgb(133, 131, 131);
    --fontSize : 13px;
}


body {
    background-color: rgb(235, 235, 235) !important;
    margin: 0;
}

.__registrosContenedorMain {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 15px;
    width: 100%;
    
}

.nameTerminalSelect label {
    display: block;
    color: var(--negro);
    font-size: var(--fontSize);
    /* margin-left: 10px ; */
    margin-bottom: 3px;
    text-align: center;
}
.nameTerminalSelect select {
    width: 400px;
    background-color: white;
    height: 50px;
    border: none;
    border-radius: 5px;
    padding: 10px;
}

._registrosTerminal {
    display: grid;
    margin-top: 15px;
    grid-template-columns:  repeat( auto-fit , minmax( min-content , 700px )) ;
    justify-content: center;
    gap: 10px;
    width: 95%;
    /* text-align: center; */
}

._registrosTerminal hr {
    margin: 10px 0;
}


._registrosTerminal h5 {
    font-size: 13px;
    text-align: center;
}

._registrosTerminal p {
    text-align: center;
    margin: 0;
    font-size: 14px;
    color: rgb(66, 66, 66);
    font-weight: 400 !important;
}

._registrosTerminal > div {
    background-color: white;
    min-width: 300px;
    border-radius: 5px;
    padding: 10px;
}

._registrosTerminal h6 {
    text-align: center;
    margin: 0;
}

._registrosTerminal label {
    color: var(--negro);
    font-size: var(--fontSize);
}



.nombreCooperativaDestino::before {
    position: relative;
    content: "Cooperativa";
    font-size: 13px;
    color: var(--negro);
    left: 0 !important;
    text-align: center !important;
}

.nombreCooperativaDestino span{
    display: inline-block;
    font-size: 13px;
    padding: 3px;
    border-radius: 5px;
    cursor: pointer;
}


.edit {
    background-color: orange;
}

.hidden {
    background-color: rgb(187, 187, 187);
}

.delete {
    background-color: rgb(253, 147, 147);
}

.editItem {
    background-color: rgb(255, 216, 145);
    font-size: 11px !important;
}

.deleteItem {
    background-color: rgb(255, 202, 202);
    font-size: 11px !important;
}

.hiddenItem {
    background-color: rgb(219, 219, 219);
    font-size: 11px !important;
}



.listaDestinosCooperativaBox table {
    width: 100%;
    text-align: center;
    /* border: 1px solid blueviolet; */
}


.listaDestinosCooperativaBox tr{
    border-bottom: 1px solid rgb(207, 207, 207);
}

.listaDestinosCooperativaBox td{
    padding: 5px 0;
}



.listaDestinosCooperativaBox p{
    font-size: 13px;
    font-weight: 500;
}



.listaDestinosCooperativa::-webkit-scrollbar {
    height: 5px;    /* Tamaño del scroll en horizontal */
}

.listaDestinosCooperativa::-webkit-scrollbar-thumb {
    background: rgb(124, 124, 124);
    border-radius: 4px;
}



