:root {
    --negro : rgb(12, 12, 12);
    --blanco : rgb(243, 240, 240);
}

/* =================CONTENEDOR DE RESERVA ================== */
._reservaMainContainer {
    display: grid;
    grid-template-columns: repeat( 2 , minmax( min-content , 1fr ) );
    min-height: 650px;
    background-color: var(--negro);
    gap: 1em;
    color: white;
    padding: 40px 0;
}

.infoReserva {
    margin: auto 0 auto 150px;
    max-width: 750px;
}

.infoReserva > div{
    margin-top: 30px;
}

.infoReserva div:nth-child(1) h1{
    font-size: 45px !important;
    color: white;
    line-height: 55px;
}
/* ================= *FIN CONTENEDOR DE RESERVA ================== */

/* ================= RESERVA ================== */

._reservaInputs {
    display: flex;
    justify-content: center;
    align-items: center;
}

._formGrid {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: var(--blanco);
    /* padding: 30px; */
    width: 600px;
    border-radius: 10px;
}

/* ==================BUS================== */
.__busContainerMain{
    position: absolute;
    display: none; /* flex */
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.534);
}


/* ====INDICACIONES====== */

.indicacionesAsientos {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.indicacionesAsientos h3{
    color: white;
    text-align: center;
    font-size: 25px;
}

.cantidadAdultosNinios {
    display: flex;
    position: relative;
    /* width: 350px; */
    border: 1px solid white;
    padding: 3px 7px;
    border-radius: 12px;
    /* justify-content: space-between; */
}

.cantidadAdultosNinios > div{
    display: flex;
    align-items: center;
}

.cantidadAdultosNinios input[type="radio"]{
    display: inline-block;
    margin: 0 3px 0 3px;
    padding: 0 !important;
    width: 18px !important;
    color: red !important;
}

.cantidadAdultosNinios input[type="radio"]:focus{
    padding: 0 !important;
    color: red !important;
}


/* .cantidadAdultosNinios::after {
    content: "Selecciona la cantidad de asientos";
    position: absolute;
    font-size: 13px;
    bottom: -20px;
    right: 10%;
} */


.cantidadAdultosNinios > div{
    /* margin-right: 12px; */
}


.cantidadAdultosNinios label{
    color: white !important;
    /* margin: 10px; */
    /* display: block; */
    text-align: center;
}


.cantidadAdultosNinios select{
    border: none !important;
    color: white !important;
}

.cantidadAdultosNinios select:focus{
    background-color: rgb(104, 104, 104) !important;
}

.selectNinios{
    display: inline-block;
    width: 15px;
    height: 15px;
    background-color: green;
    margin: 0 5px -2px 5px !important;
}

.selectAdultos{
    display: inline-block;
    width: 15px;
    height: 15px;
    background-color: skyblue;
    
    margin: 0 5px -2px 5px !important;
}


.asientosColores > div{
    margin: 0 10px;
}

.asientoBlanco{
    display: inline-block;
    /* float: left; */
    width: 15px;
    height: 15px;
    background-color: white;
}
.indicacionesAsientos > div{
    margin: 0 15px;
}

.asientoNaranja{
    /* float: left; */
    display: inline-block;
    width: 15px;
    height: 15px;
    background-color: orange;
}

.asientoCeleste{
    /* float: left; */
    display: inline-block;
    width: 15px;
    height: 15px;
    background-color: skyblue;
}

/* ====*FININDICACIONES====== */

/*================TOTAL PAGAR ===================== */

.valorTotalReserva {
    /* position: absolute; */
    display: flex;
    /* border: 2px solid white; */
    background-color: white;
    text-align: center;
    border-radius: 5px;
    overflow: hidden;
    /* padding: 3px 10px; */
}

.valorTotal {
    display: flex;
    border-radius: 5px;
    padding: 3px 10px;
    background-color: rgb(251, 205, 205);
}

.precioPorAsiento{
    padding: 3px 10px;
}

.valorTotalReserva h6{
    color: black;
    font-size: 12px;
}





/* ==============*FIN TOTAL PAGAR ===================== */


.foco-izq{
    font-size: 40px;
    transform: rotate(-150deg);
    position: absolute;
    color: white;
    top: -15px;
    left: 35px;
}

.foco-der{
    font-size: 40px;
    transform: rotate(-150deg);
    position: absolute;
    color: white;
    top: -15px;
    right:35px;
}



._busContainer{
    position: relative;
    display: grid;
    grid-template-columns: repeat(2 , 1fr) ;
    background-color: white;
    width: 220px;
    height: min-content;
    gap: 40px;
    padding: 50px 10px 20px 10px;
    border-radius: 40px 40px 10px 10px;
}

.asientos-der, .asientos-izq{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    /* grid-template-rows: repeat( auto , minmax( 30px , 35px ) ); */
    gap: 6px;
    color: green;
    font-size: 13px;
}

.asientos-der > div, .asientos-izq > div{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid green;
    border-radius: 5px;
    min-height: 37px;
    cursor: pointer;
}

.asientos-der > div:hover, .asientos-izq > div:hover{
    background-color: rgba(236, 234, 234, 0.952);
}



/* ==================*FIN BUS================== */

._formGridSelect {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap :10px;
    padding: 30px;
}
.span3{
    grid-column: span 2;
}

._formGridSelect select{
    width: 100%;
}


._formGrid label{
    font-size: 13px;
    color: rgb(141, 141, 141);
}



._formGrid input{
    height:25px;
    width: 100%;
    border: none;
    border-bottom: 2px solid rgb(139, 139, 139);
    background: none;
    color: rgb(139, 139, 139);
}


._datosReservaUser {
    display: grid;
    /* border-radius: 10px; */
    padding: 15px 15px 30px 15px;
    background-color: var(--negro);
    grid-template-columns: repeat( 2 , 1fr);
    gap: 10px;
}



._formGrid button{
    border: none;
    background-color: rgb(32, 32, 32);
    border-radius: 5px;
    padding: 5px 25px;
    color: white;
}

.btn_Reservar{
    display: flex;
    justify-content: center;
    padding: 15px 0 15px 0;
}


._formGrid select{
    border: 0;
    height: 40px;
    padding: 5px 10px;
    color: rgb(80, 80, 80);
    border-bottom: 2px solid rgb(139, 139, 139);
    background: none;
    font-size: 15px;
}



._formGrid input:focus {
    color: white;
    border-bottom: 2px solid white;
}


/* =================*FIN RESERVA ================== */


